*
{
    margin: 10px;
}
body
{
    background-color: cyan;
}
h1
{
    color: red;
    font-size: 50px;
}
img
{
    width: 350px;
    height: 300px;
}
p
{
    background-color: rgb(239, 227, 116);
    color: blue;
    font-family: Georgia;
}